# Computer Vision & Inference
inference>=1.2.7
opencv-python>=4.10.0.84
supervision>=0.28.0
mediapipe>=0.10.35
ultralytics>=8.4.46
tensorflow>=2.21.0
tensorflow-hub>=0.16.1
tqdm>=4.67.3

# Environment Management
python-dotenv>=1.2.2