# Computer Vision & Inference
inference>=1.2.7
opencv-python>=4.10.0.84
supervision>=0.28.0
mediapipe>=0.10.35
ultralytics>=8.4.46
tensorflow>=2.21.0
tensorflow-hub>=0.16.1
pandas>=2.2.0
matplotlib>=3.9.0
tqdm>=4.67.3

# Environment Management
python-dotenv>=1.2.2

# API
fastapi>=0.115.0
uvicorn[standard]>=0.30.0
python-multipart>=0.0.9
cryptography>=42.0.0

# Jupyter Notebook
ipykernel>=6.0.0
jupytext>=1.16.0
nbclient>=0.10.0
